.password-list {
  display: grid;
  gap: 10px;
  border: 0.5px solid #ddd6fe;
  border-radius: 10px;
  width: 60%;
  margin-block: 100px;
  margin-inline: 20%;
  background-color: #ede9fe;
}

.password-item {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  border: 0.5px solid #ddd6fe;
  padding: 10px;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  border: 0.5px solid #ddd6fe;
  padding: 5px;
}

.title-container h4,
.shared-title-container h4 {
  color: #3b0764;
}

.delete-btn {
  margin-right: 30px;
  background-color: #ede9fe;
}

.delete-btn:hover {
  cursor: pointer;
}

.url-title {
  padding-left: 30px;
}

.password-title {
  padding-left: 20px;
}

.shared-title-container,
.shared-password-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 0.5px solid #ddd6fe;
  padding: 5px;
}

.shared-password-item {
  padding-block: 10px;
}

.shared-url-title {
  padding-left:20px
}
